<!DOCTYPE html>
<html ng-app="ohPastel">
  <head>
    <meta charset="utf-8">
    <script src="lib\angular\angular.js"></script>
    <script src="lib\angular\angular-locale_pt-br.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/ohPastelCtrl.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link rel="stylesheet" href="lib\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="css\site.css">
    <title>Oh o Pastel</title>
  </head>
  <body ng-controller="ohPastelCtrl">
    <div class="jumbotron">
      <h2>Oh o Pastel</h2>
      <form class="form-inline" name="pedidoForm">
        <input type="text" class="form-control" ng-model="pedido.nome" ng-minlength="4" ng-required="true" name="nome" placeholder="Nome">
        <input type="number" class="form-control" min="1" ng-model="pedido.dinheiro" ng-pattern="/^\d{1,2}.?\d{1,2}?$/" ng-required="true" name="dinheiro" placeholder="Dinheiro pago">
        <select class="form-control" ng-model="pedido.tipoPastel" ng-required="true" name="tipoPastel"
        ng-options="tipoPastel.tipo + ' ( ' + (tipoPastel.preco | currency) + ' )' for tipoPastel in tipoPasteis">
          <option value="">Selecione o recheio do pastel</option>
        </select>
        <button type="button" class="btn btn-primary " ng-click="adicionarPedido(pedido)"
      ng-disabled="pedidoForm.$invalid || checkTroco(pedido)" name="button">Adicionar Contato</button>
      <button type="button" class="btn btn-danger " ng-click="apagarPedido(pedidos)"
      ng-disabled="!isPedidoSelecionado(pedidos)" name="button">Apagar Contatos</button>
      </form>
      <div class="alert alert-danger" ng-show="pedidoForm.$invalid" ng-hide="pedidoForm.nome.$error.required && pedidoForm.dinheiro.$error.required">
        <span ng-show="pedidoForm.nome.$error.required && pedidoForm.nome.$dirty">Por favor, preencha o campo nome!<br/></span>
        <span ng-show="pedidoForm.nome.$error.minlength">O campo nome tem menos de 4 caracteres!<br/></span>
        <span ng-show="pedidoForm.dinheiro.$error.required && pedidoForm.dinheiro.$dirty">Por favor, preencha com o dinheiro pago!<br></span>
        <span ng-show="pedidoForm.dinheiro.$error.pattern">O campo dinheiro pago tem que ter o formato ex(12.34)!<br/></span>
        <span ng-show="pedidoForm.tipoPastel.$error.required && pedidoForm.tipoPastel.$dirty">Por favor, selecione o recheio!<br></span>
        <span ng-show="pedido.erroTroco && pedidoForm.dinheiro.$dirty">O valor pago deve ser maior ou igual ao preço do pastel<br></span>
      </div>
    </div>
    <div class="listaContent">
      <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nomes:</th>
                <th>Dinheiro pago:</th>
                <th>Recheio:</th>
                <th>Troco:</th>
            </tr>
        </thead>
        <tbody ng-class="{selecionado: pedido.selecionado}" ng-repeat="pedido in pedidos">
            <tr>
                <td><input type="checkbox" ng-model="pedido.selecionado"></td>
                <td>{{pedido.nome}}</td>
                <td>{{pedido.dinheiro | currency}}</td>
                <td>{{pedido.tipoPastel.tipo}}</td>
                <td>{{mostraTroco(pedido) | currency}}</td>
            </tr>         
        </tbody>
      </table>
    </div>
    <script src="lib\jquery\jquery.js"></script>
    <script src="lib\bootstrap\js\bootstrap.js"></script>
  </body>
</html>
