<!DOCTYPE html>
<html ng-app="ohPastel">
  <head>
    <meta charset="utf-8">
    <script src="lib\angular\angular.js"></script>
    <script src="lib\angular\angular-locale_pt-br.js"></script>
    <link rel="stylesheet" href="lib\bootstrap/css/bootstrap.css">
    <title>Oh o Pastel</title>
    <script>
      angular.module("ohPastel",[]);
      angular.module("ohPastel").controller("ohPastelCtrl", function($scope){
        $scope.tipoPasteis = [
          {tipo: "Carne", preco: 2},
          {tipo: "Frango", preco: 1.50},
          {tipo: "Queijo", preco: 1}
        ];

        $scope.pedidos = [
          {nome: "Joao", dinheiro: 4, tipoPastel: {tipo: "Carne", preco: 2}, troco: 2},
          {nome: "Maria", dinheiro: 3, tipoPastel: {tipo: "Frango", preco: 1.50}, troco: 1.50},
          {nome: "Fabio", dinheiro: 5, tipoPastel: {tipo: "Carne", preco: 2}, troco: 3},
          {nome: "Pedro", dinheiro: 1, tipoPastel: {tipo: "Queijo", preco: 1}, troco: 0}
        ];

        $scope.adicionarPedido = function(pedido){
          $scope.pedidos.push(angular.copy(pedido));
          delete $scope.pedido;
          $scope.pedidoForm.$setPristine();
        };

        $scope.apagarPedido = function(pedidos){
          $scope.pedidos = $scope.pedidos.filter(function(pedido){
            if (!contato.selecionado) return pedido;
          });
        };

        $scope.checkTroco = function(pedido){
          var dinherioPago = pedido.dinheiro;
          var custoPastel = pedido.tipoPastel.preco;
          pedido.troco = dinherioPago - custoPastel
          pedido.erroTroco = false;
          if (pedido.troco < 0) return pedido.erroTroco = true;
        };

        $scope.mostraTroco = function(pedido){
          if (pedido.troco >= 0) return pedido.troco;
        };

        $scope.isPedidoSelecionado = function(pedidos){
          return pedidos.some(function(pedido){
            return pedido.selecionado;
          });
        };

      });
    </script>
    <style>
      .jumbotron{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }

      .listaContent{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        /*background-color: red;*/
      }

      .form-control, .btn{
        margin-top: 10px;
      }

      .selecionado{
        background-color: yellow;
      }
    </style>
  </head>
  <body ng-controller="ohPastelCtrl">
    <div class="jumbotron">
      <h2>Oh o Pastel</h2>
      <form class="form-inline" name="pedidoForm">
        <input type="text" class="form-control" ng-model="pedido.nome" ng-minlength="4" ng-required="true" name="nome" placeholder="Nome">
        <input type="text" class="form-control" ng-model="pedido.dinheiro" ng-required="true" name="dinheiro" placeholder="Dinheiro pago">
        <select class="form-control" ng-model="pedido.tipoPastel" ng-required="true" name="tipoPastel"
        ng-options="tipoPastel.tipo + ' ( ' + (tipoPastel.preco | currency) + ' )' for tipoPastel in tipoPasteis">
          <option value="">Selecione o recheio do pastel</option>
        </select>
        <button type="button" class="btn btn-primary " ng-click="adicionarPedido(pedido)"
      ng-disabled="pedidoForm.$invalid || checkTroco(pedido)" name="button">Adicionar Contato</button>
      <button type="button" class="btn btn-danger " ng-click="apagarPedido(pedidos)"
      ng-disabled="!isPedidoSelecionado(pedidos)" name="button">Apagar Contatos</button>
      {{pedido}}
      </form>
      <div class="alert alert-danger" ng-show="pedidoForm.$invalid" ng-hide="pedidoForm.$pristine">
        <span ng-show="pedidoForm.nome.$error.required && pedidoForm.nome.$dirty">Por favor, preencha o campo nome!<br/></span>
        <span ng-show="pedidoForm.nome.$error.minlength">O campo nome tem menos de 4 caracteres!<br/></span>
        <span ng-show="pedidoForm.dinheiro.$error.required && pedidoForm.dinheiro.$dirty">Por favor, preencha com o dinheiro pago!<br></span>
        <span ng-show="pedidoForm.dinheiro.$error.pattern">O campo dinheiro pago tem que ter o formato!<br/></span>
        <span ng-show="pedidoForm.tipoPastel.$error.required && pedidoForm.tipoPastel.$dirty">Por favor, selecione o recheio!<br></span>
        <span ng-show="pedido.erroTroco && pedidoForm.dinheiro.$dirty">O valor pago deve ser maior ou igual ao preço do pastel<br></span>
      </div>
    </div>
    <div class="listaContent">
      <table class="table">
        <thead>
          <th></th>
          <th>Nome:</th>
          <th>Dinheiro pago:</th>
          <th>Recheio:</th>
          <th>Troco:</th>
        </thead>
        <tbody ng-class="{selecionado: pedido.selecionado}" ng-repeat="pedido in pedidos">
          <td><input type="checkbox" ng-model="pedido.selecionado"></td>
          <td>{{pedido.nome}}</td>
          <td>{{pedido.dinheiro | currency}}</td>
          <td>{{pedido.tipoPastel.tipo}}</td>
          <td>{{mostraTroco(pedido) | currency}}</td>
        </tbody>
      </table>
    </div>
  </body>
  <script src="lib\jquery\jquery.js"></script>
  <script src="lib\bootstrap\js\bootstrap.js"></script>
</html>
